input,
button {
    background: #eee;
    list-style: none;
    border: none;
    outline: none;
    padding: 20px;
    width: 60%;
    font-size: 24px;
}

button {
    border-radius: 14px;
    cursor: pointer;
}

.container {
    font-size: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-box {
    height: 500px;
    width: 500px;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.ng-valid:not(form) {
    border-left: 5px solid blue;
}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    div {
        border: 1px solid #eee;
        border-radius: 14px;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    button {
        height: 80px;
        width: 100%;
    }
}